body {
    font-family: sans-serif;
   background: transparent url("photo-1457144759132-40d119c2f120.jpeg") no-repeat center;
    background-size: cover;
    font-size: 18px;
     color: white;
}



.wrapper{
    
    width: 960px;
    margin: 0 auto;
    overflow:auto;
}

.menu{
    
    width:30spx;
    
    
}
.menu>ul{
    padding:0;

}
.menu>ul>li{
    list-style-type: none;
}
.menu>ul>li>a{
    display: block;
    border: 3px solid white;
    padding: 10px;
    margin:13px;
    text-align: center;
    color: white;
    font-size: 20px;
}


.dogface{
    background: transparent url("fb3be3dc76c86259187d5961a841e7a4.jpg") no-repeat center;
    background-size: cover;   
}



.content{
    padding: 30px;
    margin-left: 10px;
    
}
.dogface{
    
    height: 200px;
    width: 200px;
    margin-left: 20px;
    
}

  
h1 img{
    width: 280px;height: 280px;
} 


   


