body {
    font-family: sans-serif;
   background: transparent url("photo-1457144759132-40d119c2f120.jpeg") no-repeat center;
    background-size: cover;
    font-size: 18px;
     color: white;
}

.wrapper{
    
    
    width: 960px;
    margin: 0 auto;
    overflow:auto;
}

.menu{
   
    width:600px;
   margin: 0px auto;
    
}
.menu>ul{
    padding:0;
    float: left;
}
.menu>ul>li{
    list-style-type: none;
}
.menu>ul>li>a{
display: block;
    border: 3px  solid white;
    padding: 20px;
    margin:13px;
    text-align: center;
    color: white;
    font-size: 20px;
}


.dogface{
    background: transparent url("fb3be3dc76c86259187d5961a841e7a4.jpg") no-repeat center;
    background-size: cover;
    height:300px;
    width: 300px;
     margin-left: 300px;
    
}

.content{
    padding: 20px;

    clear: both;
    
}

.header{
    width: 450px;
    float: left;
}


.header1{
    width: 950px;
    float: left;
}

h1 img{
    width: 280px;height: 280px;
    
}
.article{
    
}
