body {
    font-family: sans-serif;
   background: transparent url("http://ww2.sinaimg.cn/large/0064whBmjw1f3bb33isn5j30u01hc4e5.jpg") no-repeat center;
    background-size: cover;
    font-size: 12px;
}

.wrapper{
    
    
    width: 960px;
    margin: 0 auto;
    overflow:auto;
}

.menu{
    
    width:300spx;
    float: left;
    
}
.menu>ul{
    padding:0;
}
.menu>ul>li{
    list-style-type: none;
}
.menu>ul>li>a{
display: block;
    border: 3px solid #000;
    padding: 20px;
    margin:13px;
    text-align: center;
    color: #000;
    font-size: 14px;
}


.dogface{
    background: transparent url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRC_frE_ugzJKe2pSiL4O3fn81M-1ZCX9IE_qD0lwz3wpvh3nCQ") no-repeat center;
    height: 300px;
    width: 300px;
}

.content{
    padding: 60px;
    margin-left: 300px;
    
}
.dogface{
    
    height: 300px;
    width: 300px;
}







